*{
    box-sizing: border-box;
}

body{
    font-size: 18px;
    margin: 0;
    font-family: $font-family-serif;
}

nav{
    width: 100%;
    height: 80px;
    background-color: $black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    a{
        color: white;
    
    }
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 768px){
        padding-top: 50px;
    }
}

footer{
    width: 100%;
    height: 80px;
    background-color: $black;
    margin-top: 150px;
}



.frifag-ad-top{
    box-shadow: $box-shadow;
    height: 150px;
    margin: 0 0 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 980px;
    width: 100%;
    background-color: $white-gray;

    @media screen and (max-width: 768px) {
        display: none; 
    }
}

.frifag-ad-top-mobile{
        box-shadow: $box-shadow;
            height: auto;
            margin: 0 0 50px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 580px;
            width: 100%;
            display: none;
            background-color: $white-gray;
            flex-direction: column;

            small{
                font-size: 0.8rem;
                font-family: $font-family-sans-serif;
                padding: 5px 0;
            }

            @media screen and (max-width: 768px) {
                display: flex; 
            }

            @media screen and (max-width: 375px){
                max-width: 319px;
            }
}



  
.frifag-caption {
    color: $dark-gray;
    margin: 0;
    font-size: 0.9rem;
    position: relative;
    margin-top: 5px;

    span{
        position: absolute;
        top: 20px;
        right: -20px;
        margin-left: 30px;
    }
  }




.frifag-stillinger-carousel-desktop{
    margin-bottom: 10px;
}

.frifag-end-container{
    background-color: $white-gray;
    padding: 25px;
    box-shadow: $box-shadow;
    width: 100%;
    gap: 20px;
    height: auto;
    max-width: 580px;


    p{
        font-family: $font-family-serif;
        font-weight: 500;
    }

    img{
        max-width: fit-content;
        max-height: 30px;
        margin-bottom: 10px;
        object-fit: cover;
        object-position: center;
    }

    .frifag-end-head{
            font-family: $font-family-serif;
            margin-bottom: 20px;
        p{
            font-weight: 900;
            margin-bottom: 10px;
        }
    }

    .frifag-end-bottom{
        display: flex;
        flex-direction: column;
        a {
            width: 180px;
            border-radius: 25px;
            border: $dark-gray solid 1px;
            padding: 10px 20px;
            margin-top: 10px;
            font-family: $font-family-sans-serif;
            font-size: 1rem;
            color: $black;
            height: auto;
            text-align: center;
            text-decoration: none;
        } & a:hover{
            background-color: $orange;
            color: $white;
            text-decoration: none;
            border: $orange solid 1px;
        }
    }
}

.frifag-social-container{
    width: 100%;
    max-width: 580px;
    display: flex;
    flex-direction: row;
    margin: 40px 0;
    cursor: pointer;

    img{
        max-width: 30px;
        max-height: 30px;
        margin-right: 20px;
    }
}

.frifag-tags-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin: 50px 0;

    p{
        background-color: $white-gray;
        box-shadow: $box-shadow;
        padding: 5px 10px;
        font-size: 1rem;
        margin: 0;
        cursor: pointer;
    } & p:hover{
        background-color: $orange;
        color: $white;
    }
}

.frifag-more-container{
    width: 100%;
    height: auto;
    max-width: 1020px;
}

.frifag-more{
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;

.frifag-more-article {
    width: 30%;
    height: 300px;
    min-width: 250px;
    display: flex;
    flex-direction: column;;

    img{
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    h3{
        width: 100%;
        background-color: white;
        margin: 0;
        padding: 10px 20px;
        font-size: 1.3rem;
        box-shadow: $box-shadow;
        min-height: 100px;
        display: flex;
        align-items: center;
    }

    @media screen and (max-width: 830px) {
        flex-direction: row;
        margin-bottom: 20px;
        
        img {
            height: 150px;
            width: 60%;
        }
    }
    
}

    @media screen and (max-width: 830px) {
        flex-direction: column;
        gap: 10px;

        .frifag-more-article{
            width: 100%;
            height: 150px;
        }
    }

    @media screen and (max-width: 500px) {
        .frifag-more-article{
            height: auto;
            flex-direction: column;

            img{
                height: 250px;
                width: 100%;
            }
        }
        
    }
}

.frifag-ad-intext-container{
    background-color: $white-gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 580px;
  
    img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        object-position: center;
    }

    small{
        font-size: 0.8rem;
        font-family: $font-family-sans-serif;
        padding: 5px 0;
    }

}

#ad320x320{
    display: none;
    width: 320px;
    height: auto;

    img{
        width: 320px;
        height: 400px;
        object-fit: cover;
        object-position: center;
    }
}

        @media screen and (max-width: 580px) {
            #ad580x400 {
                display: none;
            }

            #ad320x320{
                display: flex;
                width: 100%;
            }
    
        }

        @media screen and (max-width: 360px) {
            .frifag-ad-intext-container{
                padding: 0;
            }
            
}

#lastContainerSticky{
    position: sticky;
    top: 0;
    z-index: 100;
    height: 580px;
    width: 100%;
    box-shadow: $box-shadow;
}



.frifag-advert-carousel{
    margin-bottom: 20px;
    background-color: #E6E3DD;
    padding: 5px;
    display: flex;
    justify-content: center;

    img{
        width: 250px;
    }


}

.frifag-example-ad{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.frifag-ad-top-example{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;

    small{
        font-size: 0.8rem;
        font-family: $font-family-sans-serif;
        padding: 5px 0;
    }

}

.frifag-ad-example{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}